<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>사원목록</h2>
    <a href="/">Home</a>
    <a href="/salary">사원 추가</a>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>이름</td>
            <td>기본급</td>
            <td>보너스</td>
            <td>총액</td>
            <td>세액</td>
            <td>실수령액</td>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td><a href="/salary_detail?id={{item.id}}">{{item.name}}</a></td>
            <td>{{item.sal}}</td>
            <td>{{item.bonus}}</td>
            <td>{{item.total}}</td>
            <td>{{item.tax}}</td>
            <td>{{item.money}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>